    <div class="row">
      <div class="col-md-4">
        <table class='table'>
          <thead>
            <tr>
                <th>CustomerID</th>
                <th>CompanyName</th>
            </tr>
          </thead>
          <tbody>
           {{#each customers}}
                {{view App.FormCustomerView customerBinding = "this"}}
            {{/each}}
          </tbody>
        </table>

      </div>
      <div class="col-md-8">
        {{#if isShowDetail}}
            {{view App.ShowCustomerView customerBinding = customer}}
        {{/if}}
      </div>
    </div>